.drop-file-input {
  display: flex;
  position: relative;
  width: 700px;
  height: 500px;
  border: 4px dashed grey;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  margin: 50px auto auto auto;
}

.drop-file-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  padding: 10px;
  height: 100%;
  margin: auto;
  background-color: #def0ee;
}

.drop-file-input input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.drop-file-input-label {
  text-align: center;
  color: var(--txt-second-color);
  font-weight: 600;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.drop-file-input-label img {
  width: 200px;
}

.drop-file-input:hover,
.drop-file-input.dragover {
  opacity: 0.6;
}

.drop-file-denied {
  border: 4px dashed red;
  background-color: #ffcccb;
}

.drop-file-accepted {
  border: 4px dashed #23dc3d;
}
